{{ item }} price in {{ marketplace }}:

* Min: {{ min_price }} {{ currency }} {{ unit }}
* Max: {{ max_price }} {{ currency }} {{ unit }}
* Average: {{ avg_price }} {{ currency }} {{ unit }}
* As of: {{ updated_at }}

Source: https://nmis.et/
