የ{{ item }} ዋጋ በ{{ marketplace }}፦

* ዝቅተኛ፦ {{ min_price }} {{ currency }} {{ unit }}
* ከፍተኛ፦ {{ max_price }} {{ currency }} {{ unit }}
* አማካይ፦ {{ avg_price }} {{ currency }} {{ unit }}
* የዋጋ ቀን፦ {{ updated_at }}

ምንጭ፦ https://nmis.et/
